table {
    width: 100%;
  }
  
  .titre{
    text-align: center;
    color: #3a5199;
    font-family: 'Times New Roman', Times;
  }  
  
.title-column{
  text-align: center;
}
.table-column{
  text-align: center;

  }