
  .formation{
     
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
  }
  .container{
    margin-top: 15px;
  }
  table {
      width: 100%;
    }
  
  h2{
     color: #2f2e33;
     font-family: 'Times New Roman', Times, serif;
     font-size: 30px;
   }
   
   #subtitle{
      color: #c1c2bf;
      font-family: 'Times New Roman', Times, serif;
      font-size: 17px;
   }

   .checkbox-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .checkbox-margin {
    margin: 0 10px;
  }

  ::ng-deep .mat-checkbox-checked .mat-checkbox-background,
::ng-deep .mat-checkbox-indeterminate .mat-checkbox-background {
  background-color:  #3a5199 !important;
}
   
   
  .button-create-icon {
      width: 200px;
      height: 100%;
      color: #3a5199;
      font-size: 40px;
      margin-right: -130px;
    }
    
   /* ---------------------- */
     
    table {
      width: 100%;
    }
    .title-column{
      text-align: center;
    }
    .table-column{
      text-align: center;
  
      }
     