<mat-tab-group dynamicHeight mat-align-tabs="center" class="hello">
    <mat-tab label="S'identifier" >     
		<div class="registration" >
			<div class="signup-form"> 
				<header>
					<h2>Bienvenue</h2>				 
				</header>
				<div *ngIf="loggedIn===false">
				<form [formGroup]="loginForm" class="registration-form">
					<div class="form-group">
						<mat-form-field appearance="fill" class="fill-full-width">
							<mat-label>Nom d'utilisateur</mat-label>
							<input matInput  class="example-right-align" type="text" 
								formControlName="username" [ngClass]="{'is-invalid': (loginForm.get('username').touched ||
								loginForm.get('username').dirty) && !loginForm.get('username').valid }" required>
								<span matPrefix><mat-icon>person</mat-icon></span>		 
						</mat-form-field>
					</div>
			
					<div class="form-group">
						<mat-form-field appearance="fill" class="fill-full-width">
							<mat-label>Mot de passe</mat-label>
							<input matInput  class="example-right-align" type="password" formControlName="password" [ngClass]="{'is-invalid': (loginForm.get('password').touched ||
								loginForm.get('password').dirty) && !loginForm.get('password').valid }"
								 required>
								<span matPrefix><mat-icon>https</mat-icon></span>							 
						</mat-form-field>
					</div>
		  
					<div class="form-group">
						<div class="container-signup100-form-btn">                    
							<button type="submit"  [disabled]="!loginForm.valid" class="signup100-form-btn" (click)="login()"  >
								Entrer
							</button>
						</div>
						<h6 *ngIf="invalidLogin" class="login-msg">Vos informations d'identification sont incorrectes</h6>
					</div>    
					<hr>
					<div class="login-choice" style="text-align: center; color: #75b1a9;">
						<h2>Ou connectez-vous avec</h2>
					</div>
					<div class="login-network"> 
						<button mat-fab aria-label="Example icon-button with  facebook icons" style="background-color: #0D47A1;" (click)="signInWithFB()">
							<div class="icon-1" >f</div>
						</button>
						<button mat-fab aria-label="Example icon-button with google icon" style="margin-left: 30px;" color="warn"   (click)="signInWithGG()">
							<div class="icon-2" >G</div>
						</button>
					</div>
				</form>
				</div>
			</div>
		</div>  	 
	</mat-tab>
	<mat-tab label="S'inscrire">
        <app-registration></app-registration>
    </mat-tab>
</mat-tab-group>

