<mat-tab-group dynamicHeight mat-align-tabs="center">
    <mat-tab label="S'identifier">     
		<div class="registration" >
        <div class="example-large-box mat-elevation-z4">
			<header> 
				<h2>Bienvenue</h2>		   	 
			</header>
					<form  class="login100-form " >
						<div class="wrap-input100 m-b-26" >
							<span class="label-input100">  Username </span>
								<input class="input100" id="username" type="text" placeholder=""required />
								<span class="focus-input100"></span>		
						</div>
						<br>
						<div class="wrap-input100 m-b-26" >
							<span class="label-input100"> Password </span>
							<input class="input100" id="password" type="password" placeholder="" required />
							<span class="focus-input100"></span>
						</div>
						<div class="container-login100-form-btn">
							<button type="submit"   class="login100-form-btn"   >
								LOGIN 
							</button>
							 
						</div>
					</form>

					<hr>
					<div class="login-ask" style="text-align: center; color: #37474f;">
						<h1>Ou connectez-vous avec</h1>
					</div>
					<div class="login-network"> 
					<button mat-fab aria-label="Example icon-button with  facebook icons" style="background-color: #039be5;">
						 f
					</button>
					<button mat-fab aria-label="Example icon-button with google icon" style="margin-left: 30px;" color="warn">
						 G
					</button>
					</div>
        </div>	
	</div> 
		</mat-tab>
    <mat-tab label="S'inscrire">
        <app-registration></app-registration>
    </mat-tab>
</mat-tab-group>
