<h2 class="titre"> Créer une nouvelle formation </h2>
<hr>
    <mat-horizontal-stepper   #stepper>
        <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Information</ng-template>
                    <div> 
                        <mat-form-field style="width: 100%;">
                            <mat-label >Nom</mat-label>
                            <input matInput placeholder="Nom de Formation" formControlName="firstCtrl" required>
                        </mat-form-field>
                    </div>
                    <div > 
                        <mat-form-field style="width: 100%;">
                            <mat-label>Etabelissement</mat-label>
                            <input matInput placeholder="Nom d'Etabelissement" formControlName="firstCtrl" required>
                        </mat-form-field>
                    </div>
                    <div  > 
                        <mat-form-field style="width: 100%;">
                            <mat-label>Date</mat-label>
                            <input matInput placeholder="Date de Formation" formControlName="firstCtrl" required>
                        </mat-form-field>
                    </div>
                    <div  > 
                        <mat-form-field style="width: 100%;">
                            <mat-label>Prix</mat-label>
                            <input matInput placeholder="Prix" formControlName="firstCtrl" required>
                        </mat-form-field>
                    </div>
                    <div class="d-flex justify-content-center" style="margin-top: 30px;">
                        <button class="btn btn-secondary" style="margin-right: 5px; width: 100px ;"  mat-dialog-close>Cancel</button>
                        <button mat-button matStepperNext class="btn btn-success"  style="background-color: #3a5199; border: #3a5199; width: 100px;">Next</button>
                         
                    </div>
            </form>
        </mat-step>

        <mat-step [stepControl]="secondFormGroup">
            <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>Plan </ng-template>
                    <div > 
                        <mat-form-field style="width: 100%;">
                            <mat-label>Titre</mat-label>
                            <input matInput   placeholder="Titre d'Element" required>
                            </mat-form-field>
                        </div>
                    <div >
                        <mat-form-field style="width: 100%;"> 
                            <mat-label>Durée</mat-label>
                            <input matInput   placeholder="Durée d'Element" required>
                        </mat-form-field>
                    </div>
                    <div >
                        <mat-form-field style="width: 100%;">
                            <mat-label>Prix</mat-label>
                            <input matInput   placeholder="Prix d'Element" required>
                        </mat-form-field>
                    </div>
                    <div >
                        <mat-form-field style="width: 100%;">
                            <mat-label>Nombre Totale</mat-label>
                            <input matInput   placeholder="Nombre Maximum de places" required>
                        </mat-form-field>
                    </div>
                    <div class="button-create float-right">
                        <a  matTooltip="Créer un autre element " type="button"  ><mat-icon  class="button-create-icon" aria-hidden="false" aria-label="Example home icon" style="color:#3a5199">add_circle</mat-icon></a>
                    </div>
                     
                    <div>
                        <div class="d-flex justify-content-center"  style="margin-top: 50px;">
                            <button class="btn btn-secondary" style="margin-right: 5px; width: 100px ;"  mat-dialog-close>Annuler</button>
                            <button mat-button matStepperPrevious class="btn btn-secondary" style="margin-right: 5px; width: 100px" >Arrière</button>
                            <button mat-button matStepperNext class="btn btn-success"  style="background-color: #3a5199; border: #3a5199; width: 100px;">Prochain</button>   
                        </div>
                    </div>
            </form>
        </mat-step>

        <mat-step [stepControl]="thirdFormGroup">
            <form [formGroup]="thirdFormGroup">
                <ng-template matStepLabel>Objectifs </ng-template>
                    <mat-form-field style="width: 100%;">
                        <mat-label>Objectifs</mat-label>
                        <textarea matInput  formControlName="thirdCtrl" placeholder="Description des Objectifs"></textarea>   
                    </mat-form-field>
                    <div>

                        <div class="d-flex justify-content-center">
                            <button class="btn btn-secondary" style="margin-right: 5px; width: 100px ;"  mat-dialog-close>Annuler</button>
                            <button mat-button matStepperPrevious class="btn btn-secondary" style="margin-right: 5px; width: 100px" >Arrière</button>
                            <button mat-button matStepperNext class="btn btn-success"  style="background-color: #3a5199; border: #3a5199; width: 100px;">Prochain</button>   
                        </div>
                    </div>
            </form>
        </mat-step>

        <mat-step [stepControl]="fourthFormGroup"> 
            <form [formGroup]="fourthFormGroup">
                <ng-template matStepLabel>Prérequis </ng-template>
                <mat-form-field style="width: 100%;">
                    <mat-label >Prérequis</mat-label>
                    <textarea matInput  formControlName="fourthCtrl" placeholder="Description des Prérequis"></textarea>   
                </mat-form-field>
                <div>
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-secondary" style="margin-right: 5px; width: 100px ;"  mat-dialog-close>Annuler</button>
                        <button mat-button matStepperPrevious class="btn btn-secondary" style="margin-right: 5px; width: 100px" >Arrière</button>
                        <button mat-button matStepperNext class="btn btn-success"  style="background-color: #3a5199; border: #3a5199; width: 100px;">Prochain</button>   
                    </div>
                </div>
            </form>
        </mat-step>

        <mat-step [stepControl]="fourthFormGroup"> 
            <form [formGroup]="fourthFormGroup">
                <ng-template matStepLabel>Description </ng-template>
                <mat-form-field style="width: 100%;">
                    <mat-label >Description</mat-label>
                    <textarea matInput  formControlName="secondCtrl" placeholder="Description"></textarea>   
                </mat-form-field>
                <div>

                    <div class="d-flex justify-content-center">
                        <button class="btn btn-secondary" style="margin-right: 5px; width: 100px ;"  mat-dialog-close>Annuler</button>
                        <button mat-button matStepperPrevious class="btn btn-secondary" style="margin-right: 5px; width: 100px" >Arrière</button>
                        <button mat-button  class="btn btn-success"  style="background-color: #3a5199; border: #3a5199; width: 100px;">Terminer</button>   
                    </div>
                </div>
            </form>
        </mat-step>

    </mat-horizontal-stepper>