.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-form-field {
    margin-top: 16px;
  }
  
  .titre{
    text-align: center;
    color: #3a5199;
    font-family: 'Times New Roman', Times;
  }

  .button-create-icon {
    width: 200px;
    height: 100%;
    color: #3a5199;
    font-size: 40px;
    margin-right: -130px;
  }