<app-header></app-header>
<div class="container" style="margin-top: 40px;">
    <div class="row">
        <div class="col-sm-6 col-xl" id="subtitle"> 
            <h1>Mon Cv</h1>
        </div>
        <div class="col-sm-6 col-xl">
            <a class="button-create float-right" matTooltip="Modifier votre CV" type="button"  (click)="UpdateModal()" ><mat-icon  class="button-create-icon" aria-hidden="false" aria-label="Example home icon" style="color: #3a5199;">edit</mat-icon></a>
        </div>
    </div>
    <div>
        <div class="item">
            <h1>Informations Personnelles</h1>
            <label style="color: #999;" class="col-lg-5 col-form-label form-control-label" id="attributs">Nom Complet : </label> {{currentUser.prenom}} {{currentUser.nom}}<br/>
            <label style="color: #999;" class="col-lg-5 col-form-label form-control-label" id="attributs">Métier :</label> {{cv.metier}}<br/>
            <label style="color: #999;" class="col-lg-5 col-form-label form-control-label" id="attributs">Phone :</label> {{currentUser.phone}}<br/>
            <label style="color: #999;" class="col-lg-5 col-form-label form-control-label" id="attributs">Email :</label> {{currentUser.email}} <br/>    
        </div>

        <div class="item">
            <h1 >Formations</h1>
            <div *ngFor="let formation of formations">
            <div class="row">
                <div class="col-md-2" id="subtitle"> 
                    <h4 class="attributs">{{formation.dateDebut}} / {{formation.dateFin}}</h4>  
                </div>
                <div class="col-md-9" >
                    <label style="color: #999;" class="col-lg-5 col-form-label form-control-label" id="attributs">Description : </label>
                    {{formation.description}}
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-2" id="subtitle"></div>
                <div class="col-md-9">
                    <label style="color: #999;" class="col-lg-5 col-form-label form-control-label" id="attributs">Etablessement : </label>
                    {{formation.etablessement}}
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-2" id="subtitle"> </div>
                <div class="col-md-9">
                    <label style="color: #999;" class="col-lg-5 col-form-label form-control-label" id="attributs">Ville : </label>
                    {{formation.ville}}
                </div>
            </div>
        </div>     
        </div>

        <div class="item">
            <h1>Experiences</h1>

            <div *ngFor="let experience of experiences">
            <div class="row">
                <div class="col-md-2" id="subtitle">
                     <h4 class="attributs">{{experience.dateDebut}} / {{experience.dateFin}}</h4>   
                </div>
                <div class="col-md-9">
                    <label style="color: #999;" class="col-lg-5 col-form-label form-control-label" id="attributs">Description : </label>
                    {{experience.description}}
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-2" id="subtitle"> </div>
                <div class="col-md-9">
                    <label style="color: #999;" class="col-lg-5 col-form-label form-control-label" id="attributs">Entreprise : </label>
                    {{experience.entreprise}}
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-2" id="subtitle"> </div>
                <div class="col-md-9">
                    <label style="color: #999;" class="col-lg-5 col-form-label form-control-label" id="attributs">Ville : </label>
                    {{experience.ville}}
                </div>
            </div> 
        </div>    
        </div>      
    </div>   
</div>