  .container{
    margin-top: 15px;
  }

  table {
    width: 100%;
  }
  
  h2{
    color: #2f2e33;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
  }

  #subtitle{
    color: #808080;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
  }

  table {
    width: 100%;
  }
  
  .title-column{
    text-align: center;
  }

  .table-column{
    text-align: center;
  }