<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link
	href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<title>Oauth2 Login</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
</head>


<body >
	<table>
	
		
				<div class="container">
					<div class="col-sm-3 well">
						<h3>Login with:</h3>
						<div class="list-group">
							<p th:each="url : ${urls}">
								<a th:text="${url.key}" th:href="${url.value}"
									class="list-group-item active">Client</a>
							</p>
						</div>
					</div>
				</div>
			
	
				<div class="container">
					<div class="col-sm-3 well">
					<form class="form-horizontal"  method="GET" th:action="@{/user/loginOauth}" >
						<fieldset>
							<div id="legend">
								<legend class="">Sign in</legend>
							</div>

							<div class="control-group">
								<!-- E-mail -->
								<label class="control-label" for="email">E-mail</label>
								<div class="controls">
									<input type="text" id="email" name="email" placeholder=""
										class="input-xlarge">
									<p class="help-block">Please provide your E-mail</p>
								</div>
							</div>

							<div class="control-group">
								<!-- Password-->
								<label class="control-label" for="password">Password</label>
								<div class="controls">
									<input type="password" id="password" name="password"
										placeholder="" class="input-xlarge">
									<p class="help-block">Password should be at least 4
										characters</p>
								</div>
							</div>

							<div class="control-group">
								<!-- Button -->
								<div class="controls">
									<button class="btn btn-success"><a href="/user/registrationOauth">Create account</a></button>
									<button class="btn btn-primary">Sign in</button>
								</div>
							</div>

						</fieldset>
					</form>
				</div>
		</div>
	
	</table>

</body>
</html>
