.details{
    text-align: center;
    color: #3a5199;
    font-family: 'Times New Roman', Times;
    font-size: 20px;
  }  

  .item{
    font-size: 20px; 
    color: #2f2e33; 
    font-family: 'Times New Roman', Times;
    margin-top: 20px;
  }