<h2 mat-dialog-title class="title">Plan de Formation </h2>
<hr>

<div class="mat-elevation-z8" style="margin-top: 25px;">
  <table mat-table [dataSource]="dataSource">

      <!-- Nom Column -->
      <ng-container matColumnDef="titre" class="culumn">
        <th mat-header-cell *matHeaderCellDef class="title-column"> Titre </th>
        <td mat-cell *matCellDef="let element" class="table-column"> {{element.titre}} </td>
      </ng-container>

      <!-- Etablissement Column -->
      <ng-container matColumnDef="duree">
        <th mat-header-cell *matHeaderCellDef  class="title-column"> Durée </th>
        <td mat-cell *matCellDef="let element" class="table-column"> {{element.duree}} </td>
      </ng-container>

      <!-- Date Column -->
      <ng-container matColumnDef="prix">
        <th mat-header-cell *matHeaderCellDef  class="title-column"> Prix </th>
        <td mat-cell *matCellDef="let element" class="table-column"> {{element.prix}} </td>
      </ng-container>

      <!-- Prix Column -->
      <ng-container matColumnDef="N_T">
        <th mat-header-cell *matHeaderCellDef  class="title-column"> Nombre Totale des Places </th>
        <td mat-cell *matCellDef="let element" class="table-column"> {{element.nombre_totale}} </td>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="N_R">
        <th mat-header-cell *matHeaderCellDef  class="title-column"> Nombre Rester </th>
        <td mat-cell *matCellDef="let element" class="table-column"> 
          {{element.nombre_rester}}
        </td>
      </ng-container>

       
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

</div>
 
<div class="d-flex justify-content-center" style="margin-top: 30px;">

    <button class="btn btn-secondary" style="margin-right: 5px; width: 100px" mat-dialog-close >Cancel</button>

</div>
 