.title{
    text-align: center;
    color:#00695c;
    font-family:  Times, 'Times New Roman';
    font-size: 25px;

}

table {
  width: 100%;
}
.title-column{
  text-align: center;
}
.table-column{
  text-align: center;

}

.button-create-icon {
  width: 200px;
  height: 100%;
  color: #00695c;;
  font-size: 40px;
  margin-right: -130px;
}
.sous-titre{
  color: #5c5b5b;
     font-family: 'Times New Roman', Times, serif;
     font-size: 17px;
}

.formation{
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}