<mat-tab-group dynamicHeight mat-align-tabs="center" class="hello">
  <mat-tab label="Presentation" > 
    <div class="formation" >
     <h2>Fromation</h2>

          <div class="form-group row"> 
            <div class="col-sm-6">
              <label style="color: #999;" class="col-lg-5 col-form-label form-control-label" id="attribbuts">Nom de Formation : </label>
              {{data.formation.nom}}
            </div>     
            <div class="col-sm-6">
              <label style="color: #999;" class="col-lg-5 col-form-label form-control-label" id="attribbuts">Nom de Formateur :</label>
              {{data.formation.formateur.prenom}} {{data.formation.formateur.nom}}
            </div>
          </div>

          <div class="form-group row"> 
            <div class="col-sm-6">
              <label style="color: #999;" class="col-lg-5 col-form-label form-control-label" id="attribbuts">Date : </label>
              {{data.formation.date | date}}
            </div>     
            <div class="col-sm-6">
              <label style="color: #999;" class="col-lg-5 col-form-label form-control-label" id="attribbuts">Etablissement :</label>
              {{data.formation.accueil}}
            </div>
          </div>

          <div class="form-group row"> 
            <div class="col-sm-6">
              <label style="color: #999;" class="col-lg-5 col-form-label form-control-label" id="attribbuts">Prix Total : </label>
              {{data.formation.prix}} MAD
            </div>
          </div>

          <div class="form-group row"> 
            <div class="col-sm-12">
              <label style="color: #999;" class="col-lg-5 col-form-label form-control-label" id="attribbuts">Objectifs : </label>
              {{data.formation.objectifs}}
            </div>
          </div>

          <div class="form-group row"> 
            <div class="col-sm-12">
              <label style="color: #999;" class="col-lg-5 col-form-label form-control-label" id="attribbuts">Prérequis : </label>
              {{data.formation.prerequis}}
            </div>
          </div>

          <div class="form-group row"> 
            <div class="col-sm-12">
              <label style="color: #999;" class="col-lg-5 col-form-label form-control-label" id="attribbuts">Description : </label>
              {{data.formation.description}}
            </div>
          </div>

        
      <hr>
      <div class="d-flex justify-content-center">
        <button class="btn btn-secondary" style="margin-right: 5px; width: 100px ;"  mat-dialog-close>Cancel</button>      
      </div>
    </div>
  </mat-tab>
  
  <mat-tab label="Plan">
    <div class="container" style="margin-top: 30px;" >
      <div class="row">
          <div class="col-sm-5"> 
              <h2 >Plan</h2>
          </div>
      </div>
      
<!-- Elements de plan  -->

    <div>
      <h3> Element Nom </h3>
      <h4>Durée</h4> 
      <h4>Prix</h4>
      <h4>Nombre Totale</h4>
      <h4> Nombre des inscrits</h4>
    </div>

    <div class="row">
      <div class="col-sm-7">
        <div class="col-sm-4 col-xl">
          <a class="button-create float-right" type="button" value="button"  ><mat-icon  class="button-create-icon" aria-hidden="false" aria-label="Example home icon">add_circle</mat-icon></a>
        </div>
      </div>
  </div>

<!-- Ajouter un element  -->
      <form>
          <div>
              <div> 
                  <mat-form-field style="width: 100%;">
                      <mat-label>Titre</mat-label>
                        <input matInput   placeholder="Titre d'Element" required>
                  </mat-form-field>
              </div>
              <div >
                  <mat-form-field style="width: 100%;"> 
                      <mat-label>Durée</mat-label>
                      <input matInput   placeholder="Durée d'Element" required>
                  </mat-form-field>
              </div>
              <div >
                  <mat-form-field style="width: 100%;">
                      <mat-label>Prix</mat-label>
                      <input matInput   placeholder="Prix d'Element" required>
                  </mat-form-field>
              </div>
              <div>
                  <mat-form-field style="width: 100%;">
                      <mat-label>Nombre Totale</mat-label>
                      <input matInput   placeholder="Nombre Maximum de places" required>
                  </mat-form-field>
              </div>
          </div>
      </form>

      <div class="d-flex justify-content-center">
        <button class="btn btn-secondary" style="margin-right: 5px; width: 100px ;"  mat-dialog-close>Annuler</button>
        <button mat-button  class="btn btn-success"  style="background-color: #3a5199; border: #3a5199; width: 100px;">Valider</button>   
    </div>

    </div>
  </mat-tab>
</mat-tab-group>